{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "react/react-in-jsx-scope": "off",
    "no-console": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-nested-ternary": "off",
    "import/prefer-default-export": "off",
    "react/button-has-type": "off",
    "react/prop-types": "off",
    "no-unused-vars": "off",
    "react/jsx-no-constructed-context-values": "off",
    "import/no-cycle": "off",
    "no-plusplus": "off",
    "react/destructuring-assignment": "off",
    "react/no-array-index-key": "off",
    "react/jsx-no-bind": "off",
    "react/jsx-filename-extension": "off",
    "no-return-assign": "off",
    "react/no-unknown-property": "off",
    "no-unused-expressions": "off",
    "react/jsx-props-no-spreading": "off",
    "consistent-return": "off",
    "no-lonely-if": "off",
    "no-restricted-syntax": "off",
    "prefer-destructuring": "off",
    "no-multi-assign": "off",
    "class-methods-use-this": "off",
    "react/no-access-state-in-setstate": "off",
    "array-callback-return": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-continue": "off",
    "no-param-reassign": "off"
  },
  "env": {
    "browser": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  }
}
