.rack {
  margin: 10px;
  width: 718px;
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  background-color: #d2b48c;
  border: 4px solid #8b5a2b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.rack > .top {
  width: 100%;
  height: 50%;
  border: 4px solid #8b5a2b;
  display: flex;
  align-items: flex-end;
}

.rack > .bottom {
  width: 100%;
  height: 50%;
  border: 4px solid #8b5a2b;
  display: flex;
  align-items: flex-end;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.board {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #28641c;
}

.drawPile {
  left: 50%;
  top: 50%;
  position: absolute;
  margin-left: -27px;
  margin-top: -37.5px;
}

.discardPile {
  position: absolute;
  top: -100px;
  right: 0px;
}

.playerName {
  left: 40%;
  position: absolute;
  top: -75px;
}

.active {
  color: red;
}
